@font-face {
    font-family: 'SF UI Text';
    src: url('../fonts/SFUIText-Bold.eot');
    src: local('SF UI Text Bold'), local('SFUIText-Bold'),
    url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Bold.woff2') format('woff2'),
    url('../fonts/SFUIText-Bold.woff') format('woff'),
    url('../fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../fonts/SFUIText-Light.eot');
    src: local('SF UI Text Light'), local('SFUIText-Light'),
    url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Light.woff2') format('woff2'),
    url('../fonts/SFUIText-Light.woff') format('woff'),
    url('../fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    height: fit-content;
}

.footer {
    height: 80px;
    margin-top: -80px;
}

p {
    font-family: "SF UI Text";
    font-weight: normal;
    font-size: 3vmin;
}

.bg {
    background-color: #1c1c1c;
}

.content {
    background-color: #fffafa;
    width: 60%;
    height: 100%;
}

.about {
    padding: 2.5vh 1vw 0 1vw;
    float: left;
    text-align: start;
}

.avatar {
    width: -webkit-fill-available;
    margin: 1.6vh 0.9vw;
}

.bold {
    font-family: "SF UI Text";
    font-weight: bold;
    font-size: 3vmin;
}

.contact {
    font-family: "SF UI Text";
    font-weight: normal;
    font-size: 3vmin;
}